html {
    width: 100%;
    height: auto;
}

body {
	width: 100%;
	height: auto;
    margin: 0;
}
#container {
	// width: 50%;
    // margin: auto;
}
#list_id {
	list-style: url('./images/right-arrow.svg');
}
